<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>

<body>
    <h1>All the users : </h1>

    <a style="font-size: 30px; " href="http://localhost:3000/user/add">Add user</a><br>
    <table border="black">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <% for(let user of result){ %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.email %>
                        <%= user.password %>
                </td>
                <td>
                    <form method="get" action="/user/<%=user.id%>/edit">
                        <button>Edit username</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/user/<%=user.id%>/delete">
                        <button>Delete user</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>